/* General styles */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-family:
      "HelveticaNeue-Light",
      "Helvetica Neue Light",
      "Helvetica Neue",
      Helvetica,
      Arial,
      "Lucida Grande",
      sans-serif;
  background-color: #f4f4f4;
}

.titleDiv {
  width:100%;
  text-align:center; /* Centering the title */
  padding:20px 20px 30px 20px;
  background-color: #222;
  color: #ffffff;
}

.table-container {
  max-width: 800px; /* Setting a maximum width for tables */
  margin: 20px auto; /* Centering the tables */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%; /* Making tables full width of their container */
  margin: 20px 0;
}

th, td {
  padding: 15px;
  border: 1px solid #ddd; /* Lighter border color for tables */
}

th {
  background-color: #f2f2f2;
}

input {
  padding: 5px;
  font-size: 20px;
  width: 100%; /* Full width for inputs */
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 5px 15px;
  font-size: 20px;
  background-color: #2196F3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #186bb0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
